# ***Implenmentation of Linear , Logistic Regression And KNN***

In [1]:
import numpy as np

In [5]:
class LR:
    def __init__(self, learning_rate=0.01, n_iterations=1000):
        self.learning_rate = learning_rate
        self.n_iterations = n_iterations
        self.bias = None
        self.weight = None
    def fit(self, X, y):
        m,n= X.shape
        
        self.weight = np.zeros(n)
        self.bias = 0
        
        for i in range(self.n_iterations):
            y_pred = np.dot(X, self.weight) + self.bias
            
            dw = (1/m) * np.dot(X.T, (y_pred - y))
            db = (1/m) * np.sum(y_pred - y)
            
            self.weight -= self.learning_rate * dw
            self.bias -= self.learning_rate * db
            
    def predict(self, X):
        y_pred = self.bias + np.dot(X, self.weight)
        return y_pred

In [16]:
np.zeros(100)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [7]:
X = np.array([[1], [2], [3], [4], [5]])
y = np.array([2, 4, 6, 8, 10])

model = LR()
model.fit(X, y)

y_pred = model.predict(X)
print(y_pred)

print(model.bias)
print(model.weight)

[2.06850809 4.04226297 6.01601785 7.98977273 9.96352761]
0.09475321533750963
[1.97375488]

In [8]:
import seaborn as sns
df = sns.load_dataset('tips')

In [10]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [12]:
X = df[['total_bill']].values
y = df['tip'].values
model = LR(learning_rate=0.0001, n_iterations=10000)
model.fit(X, y)
y_pred = model.predict(X)
# print(y_pred)
print(model.bias)
print(model.weight)
print(model.predict([[16.99]]))  # Predict tip for a total bill of 50

0.14702594486852666
[0.13755943]
[2.48416073]