# ***Support Vector Machine***

In [17]:
from sklearn.svm import SVC
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [19]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [20]:
from sklearn.impute import SimpleImputer
age_imputer = SimpleImputer(strategy='mean')
df['age'] = age_imputer.fit_transform(df[['age']])
embarked_imputer = SimpleImputer(strategy='most_frequent')
df['embarked'] = embarked_imputer.fit_transform(df[['embarked']]).ravel()
# df.dropna(inplace=True)
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [21]:
df.dropna(inplace=True)
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder
cat_cols = df.select_dtypes(include=['object', 'category']).columns
le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])
    
# df = pd.get_dummies(df, columns=cat_cols, drop_first=True)
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,2,0,1,False
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,2,1,False
6,0,1,1,54.0,0,0,51.8625,2,0,1,True,4,2,0,True
10,1,3,0,4.0,1,1,16.7000,2,2,0,False,6,2,1,False
11,1,1,0,58.0,0,0,26.5500,2,0,2,False,2,2,1,True

In [26]:
X =df[['pclass','sex','age','sibsp','parch','fare','embarked','class','who']]
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = SVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.8292682926829268
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         7
           1       0.83      1.00      0.91        34

    accuracy                           0.83        41
   macro avg       0.41      0.50      0.45        41
weighted avg       0.69      0.83      0.75        41

Confusion Matrix:
 [[ 0  7]
 [ 0 34]]

c:\Users\Abid\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Abid\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Abid\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [27]:
svc = SVC(kernel="linear")
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print("accuracy: ", accuracy_score(y_test, y_pred))

accuracy:  0.7560975609756098

In [28]:
svc = SVC(kernel="poly")
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print("accuracy: ", accuracy_score(y_test, y_pred))

accuracy:  0.8292682926829268

In [29]:
svc = SVC(kernel="sigmoid")
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print("accuracy: ", accuracy_score(y_test, y_pred))

accuracy:  0.5609756097560976

In [30]:
svc = SVC(kernel="rbf")
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print("accuracy: ", accuracy_score(y_test, y_pred))

accuracy:  0.8292682926829268

In [31]:
C_vals = [0.5, 1, 2, 3, 4, 5]

for c_val in C_vals:
    svc = SVC(C=c_val, kernel="rbf")
    svc.fit(X_train, y_train)

    y_pred = svc.predict(X_test)

    print("C = ", c_val, "& accuracy: ", accuracy_score(y_test, y_pred))

C =  0.5 & accuracy:  0.8292682926829268
C =  1 & accuracy:  0.8292682926829268
C =  2 & accuracy:  0.8292682926829268
C =  3 & accuracy:  0.7560975609756098
C =  4 & accuracy:  0.7560975609756098
C =  5 & accuracy:  0.7560975609756098

In [33]:
kernel_vals = ['linear', 'poly', 'sigmoid', 'rbf']

for val in kernel_vals:
    svc = SVC(C=1, kernel=val)
    svc.fit(X_train, y_train)

    y_pred = svc.predict(X_test)

    print(val, "& accuracy: ", accuracy_score(y_test, y_pred))

linear & accuracy:  0.7560975609756098
poly & accuracy:  0.8292682926829268
sigmoid & accuracy:  0.5609756097560976
rbf & accuracy:  0.8292682926829268