# ***Working With API's***

In [6]:
import requests
import pandas as pd

In [2]:
url = 'https://api.artic.edu/api/v1/artworks'

res = requests.get(url)

In [8]:
json_data = res.json()

In [14]:
df = pd.json_normalize(json_data['data'])

In [16]:
df = df[['id','api_model','api_link','title','main_reference_number']]

In [17]:
df

,id,api_model,api_link,title,main_reference_number
0,161,artworks,https://api.artic.edu/api/v1/artworks/161,Skyphos (Drinking Cup),1889.14
1,71,artworks,https://api.artic.edu/api/v1/artworks/71,Old Oaks at Bas Bréau,1887.455
2,22,artworks,https://api.artic.edu/api/v1/artworks/22,"Villa Pamphili outside Porta S. Pancrazio, fro...",1887.255
3,4758,artworks,https://api.artic.edu/api/v1/artworks/4758,Stoke-by-Nayland,1922.4453
4,6005,artworks,https://api.artic.edu/api/v1/artworks/6005,The Banks of the Marne in Winter,1957.306
5,8047,artworks,https://api.artic.edu/api/v1/artworks/8047,Clearing in the Forest,1923.172
6,7988,artworks,https://api.artic.edu/api/v1/artworks/7988,Claude Monet,1923.149
7,9018,artworks,https://api.artic.edu/api/v1/artworks/9018,Still Life with Queen,1931.521
8,8059,artworks,https://api.artic.edu/api/v1/artworks/8059,The Forest of Fontainebleau,1923.176
9,11723,artworks,https://api.artic.edu/api/v1/artworks/11723,Woman at Her Toilette,1924.127
10,9637,artworks,https://api.artic.edu/api/v1/artworks/9637,View of an Italian Villa and Gardens (the Belv...,1959.45
11,14245,artworks,https://api.artic.edu/api/v1/artworks/14245,Three Types of Chrysanthemums,1962.299