# **Python Fundamentals Lecture 05**

***this is a nice technique***

~~this one also~~

- lecture 1
- lecture 2
- lecture 3
    - lecture 4

1. Day 1
2. Day 2
3. Day 3
4. Day 4
    1. lecture 4
    2. lecture 5
5. coming soon

`print('hello')`

```python
import numpy as np
print("Hello")
```

**Linkedin** : [M Abid Raza](https://openai.com)

| name | age | city |
|------|-----|------|
| abid | 22 | chichawatni  |

> This is a quote.

---

<details>
<summary>Click to expand</summary>

Your hidden content goes here.

</details>

<span style="color:red">***This is red text***</span>

In [24]:
file = open('new.txt',"r")

In [25]:
content = file.read()
print(content)

this is a file which i will open in python
will make new changes as well
---------------

In [28]:
lin1 = file.readline()
lin2 = file.readline()
lin3 = file.readline()
print(lin1)
print(lin2)
print(lin3)

In [29]:
lines = file.readlines()
print(lines)

[]

In [30]:
f = open('new.txt', "w")
f.write("This is a new line.\n")
f.write("This is another line.\n")
f.write('a am writing above lines using write mode in python file handling.\n')
f.close()

In [33]:
with open('new.txt', "r") as f:
    data = f.read()
    print(data)

This is a new line.
This is another line.
a am writing above lines using write mode in python file handling.
This line is added using append mode it will add this line at the end of the file data.

In [32]:
with open('new.txt', "a") as f:
    f.write("This line is added using append mode it will add this line at the end of the file data.\n")
    f.close()

In [34]:
x = 10
try:
    y = x / 0
except:
    print("Error: Division by zero is not allowed.")

Error: Division by zero is not allowed.

In [36]:
try:
    num = int(input("Enter a number: "))
    result = 100 / num
    print("Result:", result)
except ValueError:
    print("Error: Invalid input. Please enter a valid integer.")

Result: 10.0

In [39]:
try:
    x = int(input("Enter numerator: "))
except ValueError:
    print("Error: Invalid input for numerator.")
else:
    print("Numerator is valid:", x)

Error: Invalid input for numerator.

***List Comprehension***

In [41]:
nums = [x for x in range(5)]
try:
    print(nums)
except IndexError:
    print("Error: Index out of range.")

[0, 1, 2, 3, 4]

In [45]:
nums = [10, 20, 30]
val = [i**2 for i in nums]
print(val)

[100, 400, 900]

In [50]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
labels = [num for num in numbers if num % 2 == 0]
odd = [num for num in numbers if num % 2 != 0]
print(odd)
print(labels)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [51]:
import json

data = {'name': ['Alice','Abid'], 'age': [30,22], 'city': ['New York', 'Los Angeles']}
for key, value in data.items():
    print(f"{key}: {value}")

name: ['Alice', 'Abid']
age: [30, 22]
city: ['New York', 'Los Angeles']

In [52]:
json_data = json.dumps(data)
print(json_data)

{"name": ["Alice", "Abid"], "age": [30, 22], "city": ["New York", "Los Angeles"]}

In [53]:
json_data = '{"name": "John", "age": 25}'
obj = json.loads(json_data)
print(obj)
print(obj['name'])

{'name': 'John', 'age': 25}
John